<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
{% include 'navbar.html' %}
<style>
body{
    background-color: black;
    color:white
}
footer{
    position: absolute;
    bottom:0;
    width:100%;
    height:60px;
}

    </style>

{% block content %}
{% endblock %}
    <footer align="end">
        copyright@2024
    </footer>
</body>
</html>